<h1>メッセージの編集</h1>
<%= form_for(@memo) do |f| %>
    メモ:
    <%= f.text_field :word %>
    <%= f.submit %>
<% end %>

<% if @memo.errors.any? %>
    <div id="error_explanation">
        <h2><%= @memo.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @memo.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>

<%= link_to "戻る", '/' %>

