
<h1>Memo</h1>


<%= form_for(@memo) do |f| %>
    メモ:
    <%= f.text_field :word %>
    <%= f.submit %>
<% end %>

<% if @memo.errors.any? %>
    <div id="error_explanation">
        <h2><%= @memo.errors.count %>件のエラーがあります。</h2>
        <ul>
        <% @memo.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>



<br>
<% @memos.each do |memo| %>
    メモ：<%= memo.word %>
    時刻：<%= memo.created_at %>
    (<%= link_to "編集", edit_memo_path(memo) %>
     <%= link_to "削除", memo, method: :delete %>)
    <br>
<% end %>
